
.content.a{
    background-color: #ffffff;
}
.photo.one {
    background: #fff url("../images/about/bg1.jpg") center 90% no-repeat;
    background-size: cover;
}

.photo.two {
    background: #fff url("../images/about/bg2.jpg") center 90% no-repeat;
    background-size: cover;
}

.photo.three {
    background: #fff url("../images/about/bg3.jpg") center 90% no-repeat;
    background-size: cover;
}

.photo.four {
    background: #fff url("../images/about/bg4.jpg") center 90% no-repeat;
    background-size: cover;
}

.photo.five {
    background: #fff url("../images/about/bg5.jpg") center 90% no-repeat;
    background-size: cover;
}
.main {
    width: 100%;
    height: auto;
}

.tabs {
    padding-bottom: 0;
    background-color: #fff;
    text-align: center;
}

.content {
    padding: 96px 0;
    text-align: center;
    border-bottom: 1px solid #eeeff2;
}

.content h2:not(.tall) {
    padding-bottom: 36px;

}



.content p {
    font-size: 18px;
    line-height: 1.4em;
    margin: 0px auto;
    text-align: center;
    max-width: 600px;
    padding-bottom: 96px;
    color: #525558;
}

.wrapper_small {
    width: 780px;
    margin: 0px auto;

}

.office {
    width: 100%;
    height: 400px;
    margin-bottom: 50px;
    background-color: #b9c1c7;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    text-align: left;
    background: #b9c1c7 url(../images/about/office_to.jpg) 22% 65% no-repeat;
    background-size: cover;
}

.office .info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 14px;
    line-height: 1.4em;
    padding: 20px;
    color: #fff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.5)));
    background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
}

.attribution_icon {
    display: block;
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 16px;
    height: 21px;
    background-image: url(../images/about/c.png);
    background-size: 16px auto;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.6;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    z-index: 100;
}

.attribution_icon:after {
    content: attr(title);
    display: block;
    right: 21px;
    position: absolute;
    top: 0;
    font-size: 12px;
    opacity: 0;
    white-space: nowrap;
    height: 21px;
    line-height: 20px;
    color: #fff;
    pointer-events: none;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.office .info .title {
    font-size: 18px;
    font-weight: bold;
}

.info .address {
    margin-top: 0.5em;
}

.tall {
    font-size: 30px;
    padding: 0 20px 96px 20px;
    text-align: center;
    color: #525558;
}

.posts .post {
    display: inline-block;
    font-size: 14px;
    color: #222;
    text-align: left;
    width: 280px;
    vertical-align: top;
}

.posts .post .preview {
    width: 100%;
    height: 180px;
    background-color: #0099e5;
    border-radius: 3px;
    -webkit-transition: 0.15s ease-in-out;
    transition: 0.15s ease-in-out;
    position: relative;
}

.posts .post .title {
    font-size: 18px;
    margin: 16px 0 4px;
}

.posts .post .subtitle {
    font-size: 14px;
    color: #525558;
}

.ppa {
    background: transparent center center no-repeat url("../images/about/stock-photo.jpg");
    background-size: 100% 100%
}

.ppb {
    background: transparent center center no-repeat url("../images/about/500px-Classes-April.jpeg");
    background-size: 100% 100%
}

.ppc {
    background: transparent center center no-repeat url("../images/about/stock-photo-.jpg");
    background-size: 100% 100%
}

.line {
    width: 6px;
    background-color: #dae0e3;
    border-radius: 6px;
    margin: 0 auto;
    position: relative;
}

.line .year {
    position: absolute;
    width: 60px;
    height: 32px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    color: #525558;
    border: 2px solid #f7f9fa;
    background-color: #fff;
    border-radius: 5px;
    margin: -10px 0 0 -27px;
}
.line .year.infinity {
    font-size: 28px;
    line-height: 28px;
    font-weight: 400;
}
.line .item {
    position: absolute;
    width: 380px;
    margin-left: -380px;
    opacity: 1;
    -webkit-transition: 0.5s opacity ease-in;
    transition: 0.5s opacity ease-in;
}



.line .dot {
    width: 14px;
    height: 14px;
    border: 2px solid #f7f9fa;
    background-color: #dae0e3;
    border-radius: 14px;
    margin-left: -4px;
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
    position: absolute;
    z-index: 10;
    left: 378px;
}
.item:hover .dot{
    transform: scale(1.4);
    background-color: #0099e5;
}

.line .month {
    width: 40px;
    font-size: 14px;
    color: #71767a;
    margin: -1px 0 0 3px;
    position: absolute;
    top: 0;
    left: 380px;
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}
.line .detail {
    max-width: 280px;
    border-radius: 3px;
    margin: -13px 0 0 -5px;
    background-color: #fff;
    border: 1px solid #eeeff2;
    position: relative;
    z-index: 9;
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
    color: #222;
    display: inline-block;
    line-height: 1.4em;
    padding: 10px 10px 9px 10px;
    text-align: right;
    float: right;
    margin-right: 80px;

}

.detail:after {
    content: "";
    display: block;
    height: 3px;
    background-color: #dae0e3;
    width: 80px;
    position: absolute;
    z-index: 8;
    right: -80px;
    top: 18px;
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}
.line .item:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.line .item:hover.alt .month {
    margin-left: -53px;
}
.line .item:hover .month {
    margin-left:15px;
}
.line .detail.large {
    min-width: 280px;
    height: 190px;
    border: none;
    text-align: left;
    padding: 0;
    margin-top: -12px;
    background-color: #71767a;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.15) inset;
}

.line .detail .text {
    display: block;
    height: 50px;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 3px 3px 0 0;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.6) 0%, transparent 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, transparent 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0);
    color: #fff;
}


.line .item {
    opacity: 1;
}
.line .item.alt {
    margin-left: 0;
}
.item.alt .detail:after {
    left: -80px;
}

.line .item.alt .dot {
    left: -1px;
}

.line .item.alt .month {
    text-align: right;
    margin: -1px 0 0 -48px;
    left: 0;
    text-align: right;
}

.line .item.alt .detail {
    float: left;
    margin-left: 80px;
    margin-right: 0;
    text-align: left;
}


.bg1 {
    background-image: url(../images/about/launches.jpg);
    background-size: cover;
    background-position: center 100%
}

.bg2 {
    background-image: url(../images/about/company.jpg);
    background-size: cover;
    background-position: center 100%
}

.bg3 {
    background-image: url(../images/about/cover.jpg);
    background-size: cover;
    background-position: center 100%
}

.bg4 {
    background-image: url(../images/about/company_.jpg);
    background-size: cover;
    background-position: center 100%
}

.bg5 {
    background-image: url(../images/about/timeline_marketplace.jpg);
    background-size: cover;
    background-position: center 100%
}

.bg6 {
    background-image: url(../images/about/timeline_iOSv4.jpg);
    background-size: cover;
    background-position: center 100%
}

.bg7 {
    background-image: url(../images/about/timeline_brand.jpg);
    background-size: cover;
    background-position: center 100%
}

.bg8 {
    background-image: url(../images/about/timeline_androidv.jpg);
    background-size: cover;
    background-position: center 100%
}

.bg9 {
    background-image: url(../images/about/timeline_galleries.jpg);
    background-size: cover;
    background-position: center 100%
}

.bg10 {
    background-image: url(../images/about/timeline_raw.jpg);
    background-size: cover;
    background-position: center 100%
}

