*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.content{
    position: fixed;
    left: 50%;
    top: 50%;

    width: 900px;
    height: 600px;
    margin-top: -300px;
    margin-left: -450px;
}
a:link,a:visited,a:active{
    color: inherit;
    text-decoration: none;
}
.imgCon{
    text-align: center;
}
.imgCon img{
    width: 400px;

}
.message{
    line-height: 30px;
    font-size: 18px;
    text-align: center;
    color: #333;
}
.message a{
    color: #88d6ff;
    font-weight: bold;
    text-decoration: underline;
}