body{
    background-image: url("../images/header.jpg");
    background-repeat: no-repeat;

    background-color: #e2e2e2;

}
*{
    margin: 0 ;
    padding:0;
    font-family: "ו", Verdana, Helvetica, Arial, sans-serif;
}


header{
    width: 100%;
    height: 300px;
    font-size: 100px;
    text-align: center;
    line-height:400px;
    color: black;
}
main{
    width: 1020px;
    height: auto;
    background-color: #fff;
    color: black;margin: 0 auto;

}
main div{
    border: 3px solid antiquewhite;
    border-radius: 5px;
    margin-top: 20px;
}
.touxian{
    width: 900px;
    height: 180px;
    font-size: 20px;
    padding: 10px;
    margin: 0 auto;
    margin-top: 20px;
}
.touxian p{
    margin:50px 20px; display: block;float: left
}
.touxian span{
    line-height:80px;
    font-weight: bold;font-size: 50px
}
.touxian img{
    width: 140px;height: 170px;float: right;display: block
}
.xinxi{
    width:920px;margin:20px auto;text-align: left;line-height:50px;
}
.xinxi span{
    margin-right:80px
}
.jiben{
    width: 920px;
    height: inherit;
    padding: 20px;
   margin: 20px auto;
}
.jiben h1{
    color: #3d2c05;
}
.jiben span{
    margin-right: 50px;
    color: #3d2c05;
}
.jiben p{
    color: slategray;
}